
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

.sidebar {
    background-color: #34a0ff;
}

.searchBar {
    overflow: hidden;
    background-color: white;
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 9fr 1fr 1fr 3fr;
    grid-column: 2;
    grid-row: 1 / 2;
}

.searchBar > *{
    height: 50%;
    overflow: auto;
}

.searchBar input {
    background-color: lightgray;
    margin-left: 0.5%;
    width: 70%;
    border-style: none;
    border-radius: 30px;
    height: 50%;
    grid-column: 2;
}

.notificationIcon {
    justify-self: center;
}

body {
    margin: 0;
}

.sidebar {
    display: grid;
    grid-template-rows: 1fr 8fr;
    color: white;
    grid-row-start: 1;
    grid-row-end: 17;
    grid-column: 1;
}

.sidebar .logo {
    margin-left: 15%;
    font-size: 36px;
    font-weight: 700;
}

.links {
    list-style-type: none;
}

.links li {
    font-size: 1.8rem;
    margin: 12px;
}

.profilePicture {
    background-color: pink;
    border-radius: 50%;
    height: 85%;
    justify-self: center;
}

.searchBar p {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    justify-self: start;
    margin-top: 3%;
}

.buttons > * {
    background-color: #34a0ff;
    border-style: none;
    height: 30%;
    width: 90%;
    align-self: center;
    color: white;
    font-size: 22px;
    border-radius: 50px;
}

.welcomeBar {
    display: grid;
    overflow: hidden;
    align-items: center;
    grid-template-columns: 1fr 3fr 3fr;
    background-color: white;
    grid-row: 2 / 4;
    grid-column: 2;
    box-shadow: 0 8px 8px -2px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.btn1:hover, .btn2:hover, .btn3:hover {
    transform: scale(1.2);
}

.welcomeText{
    margin-left: 1%;
}

.welcomeBar > * {
    overflow: auto;
}

.userGreeting {
    font-size: 24px;
    font-weight: 600;
}

.buttons {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    height: 100%;
    margin-right: 15%;
    padding-left: 5%;
}

.welcomeBar img {
    background-color: pink;
    border-radius: 50%;
    padding: 1%;
    height: 70%;
    justify-self: end;
}

.searchIcon {
    justify-self: end;
    margin-right: 5%;
}

.content {
    display: grid;
    grid-template: repeat(13, 1fr) / 3fr 1fr;
    background-color: #f1f1f1;
    grid-column: 2;
    grid-row: 4 / -1;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.yourProjects {
    grid-row: 1 / 2;
    align-self: end;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-left: 10px;
}

.announcementsTitle {
    margin-bottom: 0px;
    grid-row: 1 / 2;
    grid-column: 2;
    align-self: center;
    font-size: 20px;
    font-weight: 600;
}

.card {
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.15);
}

.projects {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-right: 20px;
    grid-row: 2 / -1;
}

.projects > * {
    background-color: white;
    border-radius: 10px;
}

.announcements {
    display: grid;
    grid-template: 1fr 1px 1fr 1px 1fr / 1fr;
    padding: 10px;
    gap: 0;
    grid-row: 2 / 7;
    grid-column: 2;
    background-color: white;
    border-radius: 10px;
}

hr {
    width: 95%;
    margin-top: 0;
    margin-bottom: 0;
}

.announcement {
    overflow: hidden;
    padding-top: 10px;
    padding-left: 15px;
}

.announcementText {
    margin-top: 3px;
    margin-bottom: 0px;
    word-wrap: break-word;
    font-size: 14px;
    color: #666666;
}

.announcementTitle {
    font-weight: 600;
}

.trendingTitle {
    grid-row: 7;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
}

.projectTitle {
    font-weight: 600;
    font-size: 1.15em;
}

.projectText {
    font-size: 14px;
    color: #666666;
}

.cardButtons {
    position: absolute;
    overflow: hidden;
    bottom: 10px;
    right: 10px;
    width: 25%;
    height: 15%;
    display: grid;
    grid-template: 100% / 1fr 1fr 1fr;
}

.projectCard {
    position: relative;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 6px solid #fafa00;
}

.cardButtons img{
    justify-self: center;
    align-self: center;
    height: 100%;
    max-height: 40px;
}

.cardButton:hover {
    transform: scale(1.2);
}

.trending {
    grid-row: 8 / -1;
    background-color: white;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}